/*region HTML Elements */
body {
    font-family: Tahoma, Arial, sans-serif;

     margin: 0;

     background-color: #212124;

    display: flex;
    flex-direction: column;

    color: #240c2f;
}

h1 {
    color: white;
    margin: 10px;
}

h2 {
    margin: 10px 0;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

p {
    margin: 20px auto;
    width: 90%;
}

div {
    height: 100%;
}

span {
    margin: 0;
}

ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    color: white;
}

button:focus {
    outline: none;
}
/*endregion */

/*region Animations*/
[data-aos="grow-horizontal"] {
    width: 0;
    transition-property: width;
}

[data-aos="grow-horizontal"].aos-animate {
    width: var(--bar-width, 100%);
}

 .zoom {
     transition: transform 0.1s ease-in-out;
 }

 .zoom:hover {
     transform: scale(1.1);
 }
/*endregion*/

/*region Entire Page*/
#background-canvas {
    width: 100vw;
    height: 100vh;

    position: fixed;
    z-index: -1000;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    margin: 0;
    padding: 10px;
    background: radial-gradient(circle at bottom, #46a4d7, #4957ba);

    text-align: center;
    font-size: 44pt;
    font-family: Kefa, Tahoma;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

/*endregion*/

/*region Intro*/
#intro {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



#greetings {
    margin-left: 5%;
}

#dynamic-line {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
}

#static-start {
    margin-right: 0;
}

#dynamic-end {
    width: 600px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cursor {
    margin-left: 0 ;
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent
    }
    50% {
        color: white;
    }
}

/*endregion*/

/*region About Me*/

#about-me {
    width: 100vw;
    background-color: black;
}

#about-me-background{
}

#about-me-title {
    text-align: center;
    width: auto;
}

#about-me-content {
    padding: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about-me-left {
    margin: 50px;

    width: 400px;
    max-width: 50%;
    height: 100%;

    text-align: center;

    display: table-cell;
    vertical-align: center;
}

#about-me-right {
    margin: 50px;
    width: 400px;
    max-width: 50%;
}

#personal-pic {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.skill-table {
    align-self: center;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #EEF;
    border-radius: 5px;
    padding: 20px;
}

.skill-table + .skill-table {
    margin-top: 30px;
}

.skill-bar {
    border-radius: 5px;

    background: linear-gradient(to right, #7978ff, #9faaee);

    display: flex;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;

    color: white;

    transition: all;
}

.skill-bar + .skill-bar {
    margin-top: 15px;
}

.skill-bar-title {
    margin: 5px;
    font-size: 12pt;
}

.skill-bar:hover {
    background: linear-gradient(to right, #7a90ff, #9fb8ed);
}
/*endregion*/

/*region Contact*/
#contact {
    width: 100vw;
    background-color: white;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-button {
    margin: 10px;
    width: 100px;
    height: 100px;
    position: relative;
}


.contact-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#twitter-button {
    color: white;
    background-color: #1DA1F2;
}

#linkedin-button {
    color: white;
    background-color: #2867B2;
}

#github-button {
    color: white;
    background-color: #24292e;
}
/*endregion*/

/* Tablet and Phone View */
@media screen  and (max-width: 979px){
    body {
        /*background-color: #300;*/
    }
}