body {
    font-family: Tahoma, Arial, sans-serif;

    background-color: #212124;
    margin: 0;

    display: flex;
    flex-direction: column;

}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}
div {
    height: 100%;
}

span {
    margin: 0;
}

ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}

button {
    color: white;
}

button:focus {
    outline: none;
}

.big-p {
    font-size: 15pt;
}

[data-aos="grow"]{
    width: 0;
    transition-property: width;
}

[data-aos="grow"].aos-animate {
    width: var(--bar-width, 100%);
}

#background-canvas {
    /*background-color: rgba(0, 0, 255, 0.3);*/

    width: 100vw;
    height: 100vh;

    z-index: -1000;
    position: fixed;
}

#tile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-tile {
    min-width: 500px;
    width: 100vw;
    max-width: 800px;

    min-height: 100vh;

    display: flex;
}

.tile {
    min-width: 500px;
    width: 100vw;
    max-width: 800px;

    padding: 70px;
}


.tile + .tile {
    margin-top: 50px;
}

#intro {
    /*This screen tile will be a little bit different
    We're gonna have a transparent background and no drop shadow
    This is going to let the viewers see the background a lot better at first
    and be more impacted by the greeting*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 75vw;

    color: white;
}

#intro-second {
    display: flex;
    flex-direction: row;

    width: 100%;
}

#static-text {
    align-self: flex-start;
    white-space: pre;
}

#dynamic-text {

}

#cursor {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent
    }
    50% {
        color: white;
    }
}

#about-me {
    background-color: lightgreen;
}

#skills {
    display: flex;
    flex-direction: column;

    background-color: skyblue;
}

.skill-table {
    align-self: center;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #EEF;
    border-radius: 5px;
    padding: 20px;
}

.skill-bar {
    height: 50px;
    border-radius: 5px;

    background: linear-gradient(to left, #8EA, #3AF);

    display: flex;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;

    color: white;
}

.skill-bar + .skill-bar {
    margin-top: 10px;
}

.skill-bar-title {
    margin-left: 10px;
}

#projects {
    background-color: lightcoral;
}

#contact {
    display: flex;
    flex-direction: column;

    background-color: lightpink;
}

.contact-wrapper {
    vertical-align: middle;
    
    display: flex;
    justify-content: flex-start;
}

.contact-button {
    width: 50px;
    height: 50px;
    border-radius: 100%;

    background-color: red;
    font-size: 25px;
}

.contact-info {
    margin: auto 0 auto 20px;
}