body {
    font-family: Tahoma, Arial, sans-serif;

    background-color: #212124;
    margin: 0;

    display: flex;
    flex-direction: column;

    color: #130d1f;
}

h1 {
    color: white;
    margin: 10px;
}

h2 {
    margin: 10px 0;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

p {
    margin: 20px auto;
    width: 90%;
}

div {
    height: 100%;
}

span {
    margin: 0;
}

ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    color: white;
}

button:focus {
    outline: none;
}

[data-aos="grow-horizontal"] {
    width: 0;
    transition-property: width;
}

[data-aos="grow-horizontal"].aos-animate {
    width: var(--bar-width, 100%);
}

[data-aos="grow-vertical"] {
    flex: 0;
    transition-property: height;
}

[data-aos="grow-vertical"].aos-animate {
    flex: 1;
}
#background-canvas {
    /*background-color: rgba(0, 0, 255, 0.3);*/

    width: 100vw;
    height: 100vh;

    z-index: -1000;
    position: fixed;
}

#tile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-tile {
    min-width: 500px;
    width: 100vw;
    max-width: 800px;

    min-height: 100vh;

    display: flex;

    margin-bottom: 100px;
}

.tile {
    min-width: 500px;
    width: 100vw;
    max-width: 800px;

    padding: 70px;
    margin-bottom: 50px;

    background-color: #c9bcff;
}

.tile-content {
    margin: 0 auto;
    width: 90%;
}

#intro {
    /*This screen tile will be a little bit different
    We're gonna have a transparent background and no drop shadow
    This is going to let the viewers see the background a lot better at first
    and be more impacted by the greeting*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 75vw;

    color: white;

    padding: 0;
}

#intro-second {
    display: flex;
    flex-direction: row;

    width: 100%;
}

#static-text {
    align-self: flex-start;
    white-space: pre;
}

#dynamic-text {

}

#cursor {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent
    }
    50% {
        color: white;
    }
}

#about-me {
}

#skills {
    display: flex;
    flex-direction: column;
}

.skill-table {
    align-self: center;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #EEF;
    border-radius: 5px;
    padding: 20px;
}

.skill-table + .skill-table {
    margin-top: 30px;
}

.skill-bar {
    border-radius: 5px;

    background: linear-gradient(to right, #7978ff, #9faaee);

    display: flex;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;

    color: white;
}

.skill-bar + .skill-bar {
    margin-top: 15px;
}

.skill-bar-title {
    margin: 15px;
}

#projects {
}

#contact {
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-button {
    margin: 10px;
    width: 100px;
    height: 100px;
    position: relative;

    transition: transform 0.1s ease-in-out;
}

.contact-button:hover {
    transform: scale(1.1);
}

.contact-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#twitter-button {
    color: white;
    background-color: #1DA1F2;
}

#linkedin-button {
    color: white;
    background-color: #2867B2;
}

#github-button {
    color: white;
    background-color: #24292e;
}